/* body {
  background-color: lightblue;
} */

#form-wrapper {
  background-color: white;
  margin: auto;
  margin-top: 20px;
  width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid lightgray;
}
h1 {
  color: #D9F6FF;
}

h5 {
  color: #997654;
}

i {
  color: #997654;
}

button i {
  color: white;
}

hr {
  border-color: #E6C9AC;
}

button {
  background-color: #a15e8c !important;
}

select {
  display: inline;
}