/* navbar.css */

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  height: 50px;
  margin-top: 20px;
}

/* Logo */
.logo img {
  width: 150px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logo:hover img {
  transform: scale(1.1);
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: -7px;
  margin-bottom: 30px;
  border-radius: 30px;
  size-adjust: 15px;
}

.search-input input[type="text"] {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 4px;
  width: 200px;
}

/* Navigation Links */
.navlink ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlink li {
  margin-right: 10px;
}

.navlink a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.navlink a:hover {
  transform: translateZ(5px);
}

/* Cart */
.cart {
  display: flex;
  align-items: center;
}

.cart .login-button,
.cart .signup-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}

.cart .cart-icon {
  position: relative;
}

.cart .cart-icon img {
  width: 30px;
  height: auto;
}

.cart .cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}