@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


.containercategory {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  width: 1300px;
  height: 300px;
  background: #F5F5F5;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.p {
  font-size: 0.6em;
  color: #000000;
  letter-spacing: 1px;
}

.heading1 {
  font-size: 1.2em;
  color: #4E4E4E;
  margin-top: -5px;
}

.heading2 {
  color: #ae8785;
  margin-top: -5px;
}

.img {
  width: 350px;
  margin-top: 10px;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.dot1, .dot2, .dot3, .dot4 {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000000;
}

.dot1 {
  left: 22%;
}

.dot2 {
  left: 27%;
}

.dot3 {
  left: 32%;
}

.dot4 {
  left: 37%;
}

.product {
  position: absolute;
  width: 40%;
  height: 90%;
  top: 10%;
  left: 50%;
}

.description {
  text-transform: none;
  letter-spacing: 0;
  margin-top: 10px;
  margin-bottom: 17px;
  color: #4E4E4E;
  font-size: 1.0em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
  width: 300px;
  height: 200px;
}

.btn {
  background: #000000;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F5F5F5;
  position: absolute;
  right: 20px;
  bottom: 5px;

 
}

.btn2 {
  background: #000000;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F5F5F5;
  position: absolute;
  right: 90px;
  bottom: 5px;

 
}

.btn:hover {
  background: #000000;
  transition: all 0.4s ease-in-out;
}

.add-btn {
  width: 67%;
}

.like-btn {
  width: 22%;
}

.size-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
}

.pick-size {
  margin-top: 11px;
  margin-bottom: 0;
  margin-left: 20px;
}

.size-btn {
  padding: 9px;
  border: 1px solid #E0C9CB;
  font-size: 0.7em;
  text-align: center;
}

.size-btn:hover {
  background: #000000;
  color: #F5F5F5;
  transition: all 0.4s ease-in-out;
}

.active-size {
  background: #000000;
  color: #F5F5F5;
}