.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    height: 60px; 
  }
  
  .header-logo {
    width: 130px;
    height: 100px;
    padding-top: 30px;
  }
  
  .header-components {
    display: flex;
    justify-content: space-between;
  }
  
  .header-search {
    padding-left: 15px;
  }
  
  .header-user {
    padding-left: 15px;
    font-size: 18px;
  }
  
  .header-cart {
    padding-left: 15px;
    font-size: 17px;
  }
  
  .header-cart i {
    margin-right: 3px;
  }
  
  .header-cart a {
    text-decoration: none;
  }
  
  .cart-count {
    font-size: 12px;
    border-radius: 50%;
    line-height: 1;
  }
  