/* productAnimation.css */

.product-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Adjust the margin-top value as needed */
    animation: movePhoto 2s infinite alternate;
    /* Add animation properties */
}

.product-animation img {
    width: 100%;
    height: 500px;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes movePhoto {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
        /* Adjust the amount of movement */
    }

    100% {
        transform: translateY(0);
    }
}