/* footer.css */
footer {
  padding: 40px 0;
  border-top: 1px solid #333;
}

.x {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.box {
  color: #333;
}

.box img {
  max-width: 150px;
  height: auto;
  margin-bottom: 20px;;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}

ul li:last-child {
  margin-bottom: 0;
}

.copy-right {
  text-align: center;
  margin-top: 20px;
  color: #999;
}

@media (max-width: 768px) {
  .x {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .box {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .box img {
    max-width: 100px;
  }
  
  h2 {
    font-size: 12px;
  }
}
