@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.contai {
  position: relative;
  overflow: hidden;
  width: 100%; /* Updated */
  height: 500px; /* Updated */
  border-radius: 10px;
  display: flex;
  align-items: center;
}

p {
  font-size: 0.6em;
  color: var(--rose);
  letter-spacing: 1px;
}

.h1 {
  font-size: 2.2em;
  color: var(--dark);
  margin-top: -5px;
}

.h2 {
  color: var(--tan);
  margin-top: -5px;
}
.h3 {
  color: var(--dark);
  font-size: 1.0em;
  margin-top: -5px;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.one,
.two,
.three,
.four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--light);
}

.one {
  left: 22%;
}

.two {
  left: 27%;
}

.three {
  left: 32%;
}

.four {
  left: 37%;
}

.productdetails {
  position: absolute;
  width: 40%;
  height: 500px;
  top: 20%;
  left: 40%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: var(--dark);
  font-size: 0.9em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

button {
  background: var(--light);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--white);
  cursor: pointer;
}

button:hover {
  background: var(--rose);
  transition: all 0.4s ease-in-out;
  
}

.add {
  width: 67%;
}

.like {
  margin-left: 5px;
  width: 22%;
  font-size: 1.0em;
}

.sizes {
  display: grid;
  color: var(--pink);
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 100px;
  margin-top: 5px;
}

.sizes:hover {
  cursor: pointer;
}

.pick {
  margin-top: 11px;
  margin-bottom: 0;
  margin-left: 100px;
}

.size {
  padding: 9px;
  border: 1px solid var(--light);
  font-size: 0.7em;
  text-align: center;
}

.size:hover {
  background: var(--rose);
  color: var(--white);
  transition: all 0.4s ease-in-out;
}

.focus {
  background: var(--rose);
  color: var(--white);
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  cursor: pointer;
}

.thumbnail.active {
  border: 2px solid black;
}

.product {
  flex: 1;
}


@media (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  .contai {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }

  .productdetails {
    position: static;
    width: 100%;
    max-width: none;
    height: auto;
    margin-top: 20px;
  }

  .desc {
    margin-right: 0;
  }

  .sizes {
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    margin-left: 0;
    margin-top: 10px;
  }

  .pick {
    margin-left: 0;
  }

  .thumbnail-container {
    margin: 10px 0;
    flex-direction:row;
  }

  .thumbnail {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
}
